html, body{ overflow-x:hidden; }
body {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, arial;
    font-size: 16px;
    background: dimgray;
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat-y: repeat;
    
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

select {
    visibility: hidden;
}
.container {
    display: none;
}

#Keyboard {
    margin: 3px!important;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    box-shadow: black 1px 0 5px;
    
}


.slider {

  /*  width: 700px;*/
    height: 220px;
    display: flex;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; 
    background-image: linear-gradient(#454545 32px, #000 278px);
}


@media only screen and (max-device-height : 768px) {
    .slider {
      
      
        margin: 0px;
        width: 90vw !important;
        height: 230px;
        display: flex;
        overflow-x: auto;    
        -webkit-overflow-scrolling: touch;
       /* scroll-snap-type: x mandatory; */
        background-image: linear-gradient(#454545 32px, #000 278px);
      }
      body, html {
          background-size: 110%;
          background-repeat: repeat-y;
         
          overflow-x: hidden !important;
      }
      body {
        position: relative !important;
      }
      #Selector {
          display:none;
      }
     
    }


.slider-active{
    width: 700px;
}

.pressed {
    fill: rgb(255,0,0);
}

h1, h3{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 0 5px;
    text-transform: uppercase;
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px black;
}




/*

::-webkit-scrollbar {
width: 12px;
}


::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
-webkit-border-radius: 10px;
border-radius: 10px;
}


::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(255,0,0,0.8); 
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4); 
}*/
